PORT=3002
NODE_ENV=development
FRONTEND_URL=http://localhost:8080

# Authorize.Net Credentials
AUTHORIZENET_API_LOGIN_ID=your_login_id
AUTHORIZENET_TRANSACTION_KEY=your_transaction_key
AUTHORIZENET_ENVIRONMENT=SANDBOX

# Company Branding
COMPANY_NAME=ENOPOLY
COMPANY_ADDRESS="123 Awesome Street, City, Country"
COMPANY_LOGO_PATH="./assets/logo.png"

# Email Service (EmailJS)
EMAILJS_SERVICE_ID=service_hujclwl
EMAILJS_TEMPLATE_ID=template_xu9z9br
EMAILJS_USER_ID=6vZNllq3kCO02HoZ1
EMAILJS_PRIVATE_KEY=piF6LpTfmQel7mn7rvrWm
# GMAIL_USER=... (Deprecated)
